# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Optional local cache & artifacts
dist/
.cache/
.tmp/
.nyc_output/
coverage/

# Vercel local env
.vercel/

# Nx cache (if you add Nx later)
.nx/
nx-results.json

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# VSCode / IDE
.vscode/
.idea/
